<div class="skybrudsocialprevalue" ng-controller="Skybrud.Social.LinkedIn.OAuth.PreValues.Controller">

    <small>
        LinkedIn uses <strong>OAuth 2.0</strong> for authentication and communication. In order for
        users to authenticate with the LinkedIn API, you must specify the ID, secret and redirect
        URI of your LinkedIn app. You can create a new app at the following URL:
        <strong>https://www.linkedin.com/developer/apps</strong><br />
        <br />
        <strong>Notice:</strong> When a user authenticates with the LinkedIn API, an access token
        is saved along with information about the user. With the LinkedIn API, access tokens will
        expire after roughly two months.<br />
        <br />
    </small>

    <div class="option">
        <label>
            <div>
                <span>App ID</span>
                <small>The ID of the LinkedIn app.</small>
            </div>
            <input type="text" ng-model="model.value.appid" />
        </label>
    </div>
    
    <div class="option">
        <label>
            <div>
                <span>App Secret</span>
                <small>The secret of the LinkedIn app.</small>
            </div>
            <input type="text" ng-model="model.value.appsecret" />
        </label>
    </div>

    <div class="option">
        <label>
            <div>
                <span>App Permissions</span>
                <small>LinkedIn permissions that will be asked in your app</small>
            </div>
        </label>
        <div style="clear: both;"></div>
        <div style="display:block; margin-right: 10px;">
            <label style="display:inline" ng-repeat="permName in allPermissions">
                <input type="checkbox" name="model.value.permissions[]" value="{{permName}}"
                    ng-checked="model.value.permissions.indexOf(permName) > -1" ng-click="toggleSelection(permName)"> {{permName}}
            </label>
        </div>
    </div>

    <div class="option">
        <label>
            <div>
                <span>Redirect URI</span>
                <small>The redirect URI of the LinkedIn app.</small>
            </div>
            <input type="text" ng-model="model.value.redirecturi" />
        </label>
        <div ng-show="model.value.redirecturi == ''" class="suggestion">
            Will most likely be: {{suggestedRedirectUri}}
        </div>
    </div>

</div>